@import '@styles/constants/colors';

.container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 30%;
}

.profilePic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.memberDetails {
  text-align: left;
  position: sticky;
  top: 100px;
}

.card {
  margin: 10px;
  border: 1px solid #f4f4f4;
  padding: 20px 30px 20px;
  background: white;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
}

.card h2 {
  padding: 0.5rem 0;
}

.contributionContainer {
  border: 2px solid darkgray;
  border-radius: 5px;
  padding: 6px;
}

.sidebar {
  flex-shrink: 0;
}

.content {
  flex-grow: 0;
  width: 70%;
}

.heading {
  display: flex;
  justify-content: flex-start;
}

.badgeContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.badge {
  max-width: 64px;
  max-height: 64px;
  margin-right: 25px;
}

.open {
  color: #28a745;
}

.title {
  text-decoration: none;
  color: #097bbf;
  font-size: 25px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e20665;
  color: #e20665;
  font-weight: bold;
}

.personalInfo {
  margin: 5px 0 0;
}

.profileName {
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}

.userName {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  color: $color-dark-grey;
  font-size: 16px;
}

.getIntroButton {
  font-size: 1.2rem;
  padding: 0.5rem 1.875rem;
  background-color: #1d1283;
  color: #fff;
  border-radius: 0.5rem;
  transition-duration: 0.4s;
  border: 0.069rem solid #1d1283;
  cursor: pointer;
}

.getIntroButton:hover {
  background-color: #fff;
  color: #1d1283;
}

.workDetails {
  margin-top: 5px;
  color: #0e141e;
  font-size: 18px;
}

.iconsContainer {
  margin-top: 10px;
  img {
    width: 2rem;
    cursor: pointer;
  }
}

.icon {
  width: 30px;
  margin: 0 10px;
}

.errorPrompt {
  color: red;
}

.select {
  width: 100%;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.tagWord {
  font-family: 'Mono', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.inputBox {
  padding: 0.625rem;
  border: 0.069rem solid #1d1283;
  width: 100%;
  border-radius: 0.313rem;
  font-size: 0.938rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.inputBoxCur {
  padding: 0.625rem;
  border: 0.069rem solid #1d1283;
  width: 70%;
  border-radius: 0.313rem;
  font-size: 0.938rem;
}

.submitButton {
  font-size: 1.2rem;
  padding: 0.5rem 0.938rem;
  background-color: #1d1283;
  color: #fff;
  border-radius: 0.5rem;
  transition-duration: 0.4s;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 0.625rem;
  border: 0.069rem solid #1d1283;
}
.submitButton:hover {
  background-color: #fff;
  color: #1d1283;
}

.modalheader {
  text-align: center;
  padding-top: 0.625rem;
  font-family: 'Arial';
  color: #1d1283;
}

.settingsContainer {
  position: relative;
}

.settingsButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background: none;
}

.settingsIcon {
  width: 1rem;
}

.hidden {
  display: none;
}

.memberStatus {
  display: flex;
  margin: 10px 0px;
  justify-content: flex-start;
  gap: 5px;
  color: $color-dark-grey;
  font-size: 16px;
  font-weight: 700;
  user-select: none;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .column,
  .content {
    width: 100%;
  }

  .memberDetails {
    text-align: center;
  }

  .memberStatus {
    justify-content: center;
    color: #0e141e;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
}
