.imgContainer {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  margin-right: 8px;
}
