.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.profilePic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.memberDetails {
  text-align: left;
}

.card {
  margin: 10px;
  border: 1px solid #f4f4f4;
  padding: 20px 30px 20px;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);

  &:hover {
    box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.65);
  }
}

.sidebar {
  flex-shrink: 0;
}

.content {
  flex-grow: 0;

  /*   width: 75%; */
}

.badge {
  max-width: 100px;
}

.pullRequest {
  margin: 5px;
  padding: 3px 10px;
}

.prIcon {
  display: inline-block;
  vertical-align: text-bottom;
  width: 25px;
  height: 25px;
}

.open {
  color: #28a745;
}

.title {
  text-decoration: none;
  color: #097bbf;
  font-size: 25px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e20665;
  color: #e20665;
  font-weight: bold;
}

.personalInfo {
  margin: 5px 0 0;
}

.profileName {
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}

.userName {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  color: #576871;
  font-size: 16px;
}

.gitUserName {
  font-weight: bold;
  color: #097bbf;
  cursor: pointer;
}

.workDetails {
  margin-top: 5px;
  color: #0e141e;
  font-size: 18px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  flex-basis: flex-start;

  img {
    padding-right: 5px;
    cursor: pointer;
  }
}

.icon {
  width: 25px;
  margin: 0 10px;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .memberDetails {
    text-align: center;
  }

  .socialIcons {
    display: block;
    text-align: center;
  }
}
