.container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 30%;
}

.profilePic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.memberDetails {
  text-align: left;
}

.card {
  margin: 10px;
  border: 1px solid #f4f4f4;
  padding: 20px 30px 20px;
  background: white;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);

  &:hover {
    box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.65);
  }
}

.card h2 {
  color: #041484;
  font-weight: bolder;
}

.contributionContainer {
  border: 2px solid darkgray;
  border-radius: 5px;
  padding: 6px;
}

.sidebar {
  flex-shrink: 0;
}

.content {
  flex-grow: 0;
  width: 70%;
}

.heading {
  display: flex;
  justify-content: flex-start;
}

.badgeContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.badge {
  max-width: 64px;
  max-height: 64px;
  margin-right: 25px;
}

.open {
  color: #28a745;
}

.title {
  text-decoration: none;
  color: #097bbf;
  font-size: 25px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e20665;
  color: #e20665;
  font-weight: bold;
}

.personalInfo {
  margin: 5px 0 0;
}

.profileName {
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}

.userName {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  color: #576871;
  font-size: 16px;
}


.getIntroButton {
  font-size: 1.2rem;
  padding: 8px 30px;
//  background-color: #1d1283;
  background-color: rgb(238, 26, 117);
  color: #fff;
  border-radius: 8px;
//  border: 1px solid #1d1283;
  transition-duration: 0.4s;
//  font-weight: bold;
border: rgb(238, 26, 117);
}

.getIntroButton:hover {
  background-color: #fff;
  color: rgb(238, 26, 117);
  border-radius: 8px;
  border: 1px solid rgb(238, 26, 117);
}

.modalCloseOff{
  position: fixed;
}

.workDetails {
  margin-top: 5px;
  color: #0e141e;
  font-size: 18px;
}

.modalWindow{
  width: 500px;
}

.iconsContainer {
  margin-top: auto;
  img {
    width: 2rem;
    cursor: pointer;
  }
}

.icon {
  width: 30px;
  margin: 0 10px;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .column, .content {
    width: 100%;
  }

  .memberDetails {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .card {
    padding: 8px;
  }

  .card h2 {
    font-size: 16px;
  }

  .container {
    width: 100%;
  }
}
