.container {
  flex: 1 250px;

  display: flex;
  flex-direction: column;

  margin: 20px 20px;
  border: 1px solid #f4f4f4;
  padding: 20px 10px;
}

.imgContainer {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0px auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconsContainer {
  margin-top: auto;
}

.iconContainer:not(:last-child) {
  margin-right: 15px;
}

.iconContainer {
  img {
    width: 28px;
  }
}

.container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-2px);
}
