.container {
  flex: 1 250px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid #f4f4f4;
  padding: 20px 10px;

  &:hover {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  }
}

.imgContainer {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconsContainer {
  margin-top: auto;
}

.iconContainer:not(:last-child) {
  margin-right: 15px;
}

.iconContainer {
  img {
    width: 28px;
  }
}
