.imgContainer {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 0px auto;
  // FIXME: Remove Important
  visibility: visible !important;
  opacity: 1 !important;
}
.imgContainerNewMember {
  /* prettier-ignore */
  @extend.imgContainer;
  width: 50px;
  height: 50px;
}

.newUsers {
  pointer-events: none;
}

.nameOfPerson {
  padding: 10px 10px 0 10px;
  font-size: 1.43rem;
}
.nameOfPersonForNewMember {
  /* prettier-ignore */
  @extend.nameOfPerson;
  font-size: 15px;
}

.iconsContainer {
  margin-top: auto;
  img {
    width: 2rem;
  }
}

.hidden {
  display: none;
}

.iconsContainer:not(:last-child) {
  margin-right: 15px;
}

.showSkills,
.showMemberSkills {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  justify-content: center;
}

.techSkills {
  margin: 3px 5px;
  color: #363752;
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  font-size: 0.88rem;
}

.settingsContainer {
  position: relative;
}

.settingsButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background: none;
}

.settingsIcon {
  width: 1rem;
}

@media only screen and (min-width: 1024px) {
  .showMemberSkills {
    justify-content: flex-start;
  }
}
