.modal {
  position: fixed;
  z-index: 2;
  background: var(--modalBackground);
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: var(--cardBoxShadow);
  padding: 1rem;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 0.75rem;
}

.crossIcon i {
  position: absolute;
  cursor: pointer;
  right: 2%;
  top: 2%;
  color: var(--text);
}

@media (min-width: 600px) {
  .modal {
    width: 31.25rem;
    left: calc(50% - 15.625rem);
  }
}
