  
.modal {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 1rem;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: .75rem;
}

.crossIcon i {
  position: absolute;
  cursor: pointer;
  right: 5%;
}

@media (min-width: 600px) {
  .modal {
    width: 31.25rem;
    left: calc(50% - 15.625rem);
  }
}
