.errorPrompt{
    color:red;
}
  
.select {
    width:300px;
}
.tagWord{
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.inputBox{
    padding: 10px;
    border: 1px solid #1d1283;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 5px;
}

.inputBoxCur{
    padding: 10px;
    border: 1px solid #1d1283;
    width: 50%;
    border-radius: 5px;
    font-size: 15px;
}

.submitButton{
    font-size: 1.2rem;
    padding: 8px 15px;
    background-color: rgb(238, 26, 117);
    color: #fff;
    border-radius: 8px;
    transition-duration: 0.1s;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border:rgb(238, 26, 117);
}
.submitButton:hover{
    zoom: 110%;
    background-color: #1d1283;
    color: #fff;

}


