.container {
  flex: 1 250px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid #413f3f;
  padding: 20px 10px;
  background: white;
  cursor: pointer;
  max-width: 270px;
  //addition of box-shadow and border radius to member card

  
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
  border-radius: 5%;
  transition: transform 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.containerForNewMember{
   @extend.container;
   cursor: default;
   flex: 0 150px;
   height: 160px;
   overflow: hidden;
   margin: 5px;
   border-width: 2px;
   box-shadow: none; 
   &:hover {
    box-shadow: none; 
  }
}

.imgContainer {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 0px auto;
}
.imgContainerNewMember {
  @extend.imgContainer;
  width: 50px;
  height: 50px;
}

.nameOfPerson {
  padding: 10px 10px 0 10px;
}
.nameOfPersonForNewMember {
  @extend.nameOfPerson;
  font-size: 15px;
}

.iconsContainer {
  margin-top: auto;
  img {
    width: 2rem;
  }
}

.iconsContainer:not(:last-child) {
  margin-right: 15px;
}

.showSkills{
  display: flex;
  flex-wrap: wrap;
  margin:10px 0;
  justify-content: center;
}

.showMemberSkills{
  display: flex;
  flex-wrap: wrap;
  margin:10px 0;
  justify-content: center;
}

.techSkills{
  margin: 2px 5px;
  color: #ffffff;
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  font-size: 0.88rem;
}

@media only screen and (min-width: 1024px) {
  .showMemberSkills{
    justify-content: flex-start;
  }
}