.container {
  text-align: center;
}

.img {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.heading {
  text-align: center;
}

@media (min-width: 420px) {
  .img {
    width: 410px;
    height: 400px;
  }
}
