.container {
  margin: 2rem;
}

.showContent {
  display: block;
}

.hideContent {
  display: none;
}

.arrow {
  width: 20px;
  height: 20px;
  border: 5px solid;
  border-color: transparent black black transparent;
  border-radius: 5px;
  float: right;
  transition: cubic-bezier(0, 1.17, 1, 0.91) 0.5s;
}

.arrowRight {
  transform: rotate(-45deg);
}

.arrowDown {
  transform: rotate(45deg);
}

.pointerCursor {
  cursor: pointer;
}

.hrLine {
  margin: 20px 0;
  border-color: lightgray transparent transparent;
}

@media (max-width: 575.98px) {
  .container {
    margin: 10px;
  }
}

.loadButton {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 8px 8px;
  font-size: 16px;
  white-space: nowrap;
  text-decoration: none;
}

.loadButton:hover {
  color: white;
  background-color: #041484;
  transition: background-color 0.2s ease-in;
  outline: #041484;
}

.loadDiv {
  text-align: center;
  margin-top: 1.5em;
}
