.container {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

.taskSection {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.taskSection .featureTitle {
  color: #041187;
  padding: 0.25rem 0;
}

.prDescription {
  color: #636363;
  padding: 0.25rem 1.5rem 0.25rem 0;
  text-align: justify;
}

.completedData {
  padding: 0.25rem 0;
}

.showTextGreen {
  display: inline-block;
  font-weight: bold;
  color: green;
}

.showTextOrange {
  display: inline-block;
  font-weight: bold;
  color: orange;
}

.showTextRed {
  display: inline-block;
  font-weight: bold;
  color: red;
}

.showTextYellow {
  display: inline-block;
  font-weight: bold;
  color: yellow;
}

@media (max-width: 37.5rem) {
  .container {
    flex-direction: column;
  }

  .taskSection .featureTitle {
    font-size: 1rem;
  }
}

.progressSection {
  width: 15rem;
  padding: 0.1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.progressText {
  width: 11rem;
  height: 1.5rem;
  font: normal normal 1.2rem/0.3rem Helvetica Neue;
  display: flex;
  justify-content: center;
  color: #aba9a9;
}

.progressBar {
  width: 100%;
  height: 0.3rem;
  position: relative;
  background-color: #e5e5e5;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.showProgressOrange {
  height: 0.2rem;
  background-color: orange;
}

.showProgressRed {
  height: 0.2rem;
  background-color: red;
}

.showProgressYellow {
  height: 0.2rem;
  background-color: yellow;
}

.showProgressGreen {
  height: 0.2rem;
  background-color: green;
}

.showPercentCompletedText {
  display: flex;
  justify-content: center;
  padding: 0.25em 0;
  height: 2rem;
  width: 11rem;
  color: #bebebe;
  font: normal normal 1rem Helvetica Neue;
  display: flex;
  align-items: center;
  text-align: center;
}
