.searchbox_container {
  display: flex;
  width: clamp(200px, 80%, 500px);
  height: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  margin: 20px auto;
  top:90px;
  position:sticky;
}

.button {
  background-color: #382bd0;
  color: white;
  font-size: 12px;
  width: 100px;
  cursor: pointer;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
}

.searchbox {
  background: #e4e5e4;
  border: none;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 1;
  padding-left: 20px;
  text-overflow: ellipsis;
}