.infoRepo {
  font-weight: 100;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45px;
  margin: 0 0 -45px 0;
  color: var(--text);
  background: var(--backgroundColor);
}

.infoRepo a {
  color: var(--linkColor);
}
