.wrapper {
  font: 700 16px 'Roboto', sans-serif;
}

.navBar li a {
  margin: 10px;
  display: block;
  border-radius: 0.5rem;
  color: #ffffff;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
}

.navBar li {
  float: left;
}

.navBar li a:hover {
  color: #49a82e;
}

.navBarMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1283;
}

.navBarLogoLi {
  padding: 12px 20px;
}

.navBar li.navBarLogoLi a {
  margin: 0px;
  padding: 0px;
}

.navBar li.navBarLoginLi {
  float: right;
}

.navBar li.navBarLoginLi .btnLogin {
  padding: 0px;
  margin: 22px;
}

.navBarLogin,
.homeTab {
  display: none;
}

.btnLoginText {
  border-radius: 6px;
  padding: 5px;
  background-color: #1d1283;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
}

.userGreet {
  color: #ffffff;
  margin: 23px;
  display: none;
}

.navBarLoginLi .userGreet a {
  padding: 0px;
}

.userProfilePic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
}

.userGreetMsg {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

.navBar li a.activeTab {
  color: #49a82e;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
}

.githubLogo {
  margin-left: 4px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
}

.link {
  padding: 10px;
  margin-top: 2px;
  text-decoration: none;
  font-weight: bold;
  color: #041484;
  cursor: pointer;
  background: none;
  border: none;
}

.active {
  color: #e30464;
}
.homes {
  display: none;
}

@media screen and (max-width: 970px) {
  .navBar {
    background: #1d1283;
  }
  .homes {
    display: block;
  }
  .hamburger {
    height: 73px;
    width: 73px;
    padding: 18px;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    color: white;
  }
  .icon {
    height: 32px;
  }

  .navBarMenu {
    background: white;
    display: none;
    width: 100%;
    padding: 10px 0px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  }

  .navBarMenu.active,
  .homeTab {
    display: block;
  }

  .navBar li a {
    padding: 10px 40px;
    text-align: left;
    color: #1d1283;
  }

  .navBarLogin {
    display: block;
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0px;
  }

  .navBarLoginLi,
  .navBarLogoLi {
    display: none;
  }

  .navBar li a.activeTab {
    text-decoration: none;
  }

  .navBar li {
    float: none;
  }

  .mainBanner,
  .logoImg {
    margin-top: 40px;
  }

  .userGreet {
    margin: 0px;
  }
}
