.infoNavbar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1283;
  display: flex;
  align-items: center;
  height: 5.25rem;
}
.infoNavbar nav li {
  float: left;
}
.infoNavbar nav li a {
  font: Roboto;
  font-size: 1.25rem;
  display: block;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 	0.25rem 0;
  margin: 0 1rem;
  text-decoration: none;
}
.infoNavbar nav li a:hover {
  border-bottom: 3px solid #88d870;
  color: #88d870;
}
.infoNavbar nav {
  width: 100%;
  background-color: #1d1283;
  height: 5.25rem;
  display: flex;
  align-items: center;
}
.DrawerToggle {
  position: relative;
  width: 35px;
  height: 70%;
  left: 10px;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
}
.DrawerToggle span {
  background-color: white;
  width: 70%;
  height: 3px;
  margin: 2px 0;
}

@media screen and (max-width: 600px) {
  .infoNavbar nav ul {
    display: none;
  }
  .DrawerToggle {
    display: flex;
  }
}
